[submodule "core"]
	path = core
	url = https://github.com/DataTables/Dist-DataTables/
	branch = 1.10.24
[submodule "bootstrap5"]
	path = bootstrap5
	url = https://github.com/DataTables/Dist-DataTables-Bootstrap5/
[submodule "autofill"]
	path = autofill
	url = https://github.com/DataTables/Dist-DataTables-AutoFill-Bootstrap5
[submodule "buttons"]
	path = buttons
	url = https://github.com/DataTables/Dist-DataTables-Buttons-Bootstrap5
[submodule "colreorder"]
	path = colreorder
	url = https://github.com/DataTables/Dist-DataTables-ColReorder-Bootstrap5
[submodule "rowreorder"]
	path = rowreorder
	url = https://github.com/DataTables/Dist-DataTables-RowReorder-Bootstrap5
[submodule "fixedcolumns"]
	path = fixedcolumns
	url = https://github.com/DataTables/Dist-DataTables-FixedColumns-Bootstrap5
[submodule "fixedheader"]
	path = fixedheader
	url = https://github.com/DataTables/Dist-DataTables-FixedHeader-Bootstrap5
[submodule "keytable"]
	path = keytable
	url = https://github.com/DataTables/Dist-DataTables-Keytable-Bootstrap5
[submodule "responsive"]
	path = responsive
	url = https://github.com/DataTables/Dist-DataTables-Responsive-Bootstrap5
[submodule "rowgroup"]
	path = rowgroup
	url = https://github.com/DataTables/Dist-DataTables-Rowgroup-Bootstrap5
[submodule "scroller"]
	path = scroller
	url = https://github.com/DataTables/Dist-DataTables-Scroller-Bootstrap5
