[submodule "core"]
	path = core
	url = https://github.com/DataTables/Dist-DataTables/
	branch = 1.10.24
[submodule "bootstrap5"]
	path = bootstrap5
	url = https://github.com/DataTables/Dist-DataTables-Bootstrap5/
[submodule "autofill"]
	path = autofill
	url = https://github.com/DataTables/Dist-DataTables-AutoFill-Bootstrap5
[submodule "buttons"]
	path = buttons
	url = https://github.com/DataTables/Dist-DataTables-Buttons-Bootstrap5
